* {
  margin: 0; padding: 0;
}
#canvas {
  display: block;
/*	background: url("../images/background.jpg");*/
}

.torch {
/*  cursor: none;*/
--cursorX: 50vw;
--cursorY: 50vh;
}

:root:before {
content: '';
display: block;
width: 100%;
height: 100%;
position: fixed;
pointer-events: none;
background: radial-gradient(
  circle 10vmax at var(--cursorX) var(--cursorY),
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,.5) 50%,
  rgba(0,0,0,.95) 100%
)
}

.torch .after-click:before{
background: transparent;
}


/*****styling visulas****/

/*gamearea background class on body*/
html {
  background-image:url('bg-egypt-pixels.png');
  background-size: cover;
  background-repeat: no-repeat;
  
  width: 100%;
  height: 100%;
}

/*canvas color*/
canvas{
  background-image:url('background-canvas.png'); 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  
  border:5px solid #444;
  border-radius:7px;
}

#instruction{
  position:fixed;
  padding: 10px;
  height: 60%;
  width:  60vh;
  color: white;
  text-align: center;
  font: 20px    Helvetica, Arial, sans-serif;
  background-color: #e8b75c;
  margin:auto;
  
  border:5px solid #444;
  border-radius:7px;
  top:   +20px;
  left:  -422px;
  z-index: 1;
  transition: all 0.5s;
  margin: 0px;

}
.instructions-best-scores {
  height: 50%;
}
.shiftIn {
   transform: translateX(var(--centerIt));
}

.input {
  border:3px solid #444;
  width: 50%;
  border-radius:7px;
}

#startPlaying {
  border:3px solid #444;
  width: 50%;
  border-radius:7px;
}