* {
  margin: 0; padding: 0;
}
#canvas {
  display: block;
/*	background: url("../images/background.jpg");*/
}

.torch {
/*  cursor: none;*/
--cursorX: 50vw;
--cursorY: 50vh;
}

:root:before {
content: '';
display: block;
width: 100%;
height: 100%;
position: fixed;
pointer-events: none;
background: radial-gradient(
  circle 10vmax at var(--cursorX) var(--cursorY),
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,.5) 50%,
  rgba(0,0,0,.95) 100%
)
}

.torch .after-click:before{
background: transparent;
}


/*****styling visulas****/

/*landing page gif bg*/
.container-fluid {
  background-image:url('/img/gif1.gif'); 
  background-repeat:repeat;
  height: 100vh;
}

/*game text div and p*/
p {
  color: white;
  font-size: 20px;
}

.container {
  background-color: #be6530;
  height: 300px;
}

/*gamearea background*/

html { 
  background: url('img/pixel-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*canvas color*/
canvas{
  background: url('img/background-canvas.png');
  width: 100vh;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  border:5px solid #444;
  border-radius:7px;
}